.btn {
  padding: 10px 15px;
  margin-right: 5px;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 12px;
  font-weight: bold;

  @include desktop {
    font-size: 16px;
  }

  &:hover {
    color: $color-dark;
  }
}
