input,
textarea {
  display: block;
  padding: 10px;
  width: 400px;
  max-width: 90%;
  color: $color-gray;
  border: 1px solid $color-gray;
  margin: 15px 1rem;
  box-sizing: border-box;
  font-size: 14px;
}
