body {
  font-family: $font-default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: $color-dark;
  font-size: 24px;
  font-weight: 400;

  @include desktop {
    font-size: 32px;
  }
}

h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;

  @include desktop {
    font-size: 28px;
  }
}

p {
  color: $color-gray;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 30px 0;

  @include desktop {
    font-size: 26px;
  }
}
