<template>
  <section class="about">
    <h2>Hi, my name is Jay.</h2>
    <p>I'm a full stack developer located in Sydney, Australia with 4+ years experience. I specialise in anything JavaScript.</p>
  </section>
</template>
