<template>
  <section class="hero">
    <h1>Hey, I'm a web developer from Sydney, Australia. I can help you build your next site.</h1>
    <p>I specialise in creating superb websites that load instantly, respond quickly, feel natrual and provide an immersive user experience.</p>

    <nuxt-link class="btn btn--primary" :to="{ path: '/quote' }">
      Got a project? Get a free quote
    </nuxt-link>
  </section>
</template>

<style lang="scss" scoped>
.hero {
  height: 60vh;
  padding: 6rem 1rem 3rem;

  .btn {
    padding-left: 0;
  }

  @include desktop {
    h1,
    p {
      max-width: 600px;
    }
  }
}
</style>
