$font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$color-black: #000;
$color-dark: #3b3b3b;
$color-gray: #9b9b9b;
$color-white: #fff;
$color-dirty: #fafafa;
$color-blue: #41c4ff;
$color-orange: #ffb935;
