<template>
  <section class="form">
    <h2>Tell me about your project</h2>

    <form action="/thank-you" netlify-honeypot="bot-field" method="post" netlify>
      <input type="hidden" name="form-name" value="contact" />
      <input name="bot-field" style="display: none;">
      <input placeholder="Name" name="name" id="name" />
      <input placeholder="Email" name="email" id="email" />
      <textarea placeholder="Details about your project..." name="message" id="message" rows="8"></textarea>
      <input type="submit" value="Send message" />
    </form>
  </section>
</template>
