a {
  color: $color-black;
  transition: color 0.3s ease-in;
  text-decoration: none;

  &:hover {
    color: darken($color-black, 10%);
  }
}

.btn,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  padding: 0 30px;
  color: $color-black;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid $color-black;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    color: $color-black;
    border-color: $color-black;
    outline: 0;
  }
}

.btn.btn--primary,
input[type='submit'].btn--primary,
input[type='reset'].btn--primary,
input[type='button'].btn--primary {
  color: $color-white;
  background-color: $color-black;
  border-color: $color-black;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-black;
    border-color: $color-black;
  }
}
