<template>
  <section class="navbar">
    <nuxt-link :to="{ path: '/' }">
      <h3>Jay McMullen<br/>
      <small>Web Developer</small></h3>
    </nuxt-link>

    <div @click="toggleMenu" :class="{ hamburger: true, active: menuOpen }">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      menuOpen: false,
    };
  },
  methods: {
    toggleMenu() {
      this.menuOpen = !this.menuOpen;
    },
  },
};
</script>


<style lang="scss" scoped>
.navbar {
  padding: 0 1rem;

  h3 {
    font-weight: 400;
    color: $color-dark;

    small {
      font-weight: 600;
      color: $color-gray;
    }
  }

  a {
    text-decoration: none;
  }
}
</style>
